WATCHTOWER_CLEANUP=true
WATCHTOWER_LABEL_ENABLE=true
WATCHTOWER_SCHEDULE={{ watchtower_schedule }}
{% if watchtower_notification_url is defined and watchtower_notification_url|length > 0 %}
WATCHTOWER_NOTIFICATIONS=shoutrrr
WATCHTOWER_NOTIFICATION_URL={{ watchtower_notification_url }}
{% endif %}
