version: "3.8"
x-watchtower: &watchtower
  labels:
    - "com.centurylinklabs.watchtower.enable=true"
services:
  vpn:
    <<: *watchtower
    image: {{ gluetun_image }}
    container_name: vpn
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - "{{ mediastack_root }}/vpn:/gluetun"
    env_file:
      - {{ vpn_env_file }}
    healthcheck:
      test: curl --fail http://localhost:8000 || exit 1
      interval: 30s
      timeout: 10s
      retries: 3
    restart: unless-stopped
    ports:
      - {{ vpn_port_9117 }}:9117
      - {{ vpn_port_8989 }}:8989
      - {{ vpn_port_7878 }}:7878
      - {{ vpn_port_9091 }}:9091
      - {{ vpn_port_6789 }}:6789
      - {{ vpn_port_6500 }}:6500
      - {{ vpn_port_8686 }}:8686
      - {{ vpn_port_8080 }}:8080
    networks:
      - vpn_network

  requestrr:
    <<: *watchtower
    image: {{ requestrr_image }}
    container_name: requestrr
    network_mode: bridge
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - {{ mediastack_root }}/requestrr/config:/config
    restart: unless-stopped
    ports:
      - {{ requestrr_port_4545 }}:4545

  jackett:
    <<: *watchtower
    image: {{ jackett_image }}
    container_name: jackett
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/jackett:/config
      - /mnt/downloads:/downloads/completed/
    restart: unless-stopped

  sonarr:
    <<: *watchtower
    image: {{ sonarr_image }}
    container_name: sonarr
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/sonarr:/config
      - /mnt/storage/TV:/tv
      - /mnt/downloads:/downloads
      - /mnt/downloads/completed/transmission/iplayar:/downloads/iplayar
    restart: unless-stopped

  radarr:
    <<: *watchtower
    image: {{ radarr_image }}
    container_name: radarr
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/radarr:/config
      - /mnt/storage/Movies:/movies
      - /mnt/downloads:/downloads
    restart: unless-stopped

  lidarr:
    <<: *watchtower
    image: {{ lidarr_image }}
    container_name: lidarr
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/lidarr/config:/config
      - /mnt/storage/music:/music
      - /mnt/downloads:/downloads
    restart: unless-stopped

  transmission:
    <<: *watchtower
    image: {{ transmission_image }}
    container_name: transmission
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/transmission:/config
      - /mnt/downloads:/downloads
    restart: unless-stopped

  rdtclient:
    <<: *watchtower
    image: {{ rdtclient_image }}
    container_name: rdtclient
    network_mode: "service:vpn"
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/rdtclient:/data/db
      - /mnt/downloads:/downloads
    logging:
      driver: json-file
      options:
        max-size: 10m
    restart: unless-stopped

  sabnzbd:
    <<: *watchtower
    image: {{ sabnzbd_image }}
    container_name: sabnzbd
    network_mode: "service:vpn"
    environment:
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - TZ={{ timezone }}
    volumes:
      - {{ mediastack_root }}/sabnzbd/config:/config
      - /mnt/downloads/sabdnzbd.incomplete:/incomplete-downloads
      - /mnt/downloads:/downloads
    restart: unless-stopped

  get_iplayer:
    <<: *watchtower
    image: {{ get_iplayer_image }}
    container_name: get_iplayer
    network_mode: bridge
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - INCLUDERADIO=false
      - ENABLEIMPORT=true
    volumes:
      - {{ mediastack_root }}/get_iplayer/config:/config
      - /mnt/downloads/getiplayer:/downloads/incomplete
      - /mnt/downloads/completed/transmission/iplayar:/downloads/iplayar
    ports:
      - {{ get_iplayer_port_1935 }}:1935
    restart: unless-stopped

  lazylibrarian:
    <<: *watchtower
    image: {{ lazylibrarian_image }}
    container_name: lazylibrarian
    network_mode: bridge
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/lazylibrarian:/config
      - /mnt/storage/books:/books
      - /mnt/storage/audiobooks:/audiobooks
      - /mnt/downloads/transmission/books:/downloads
    ports:
      - {{ lazylibrarian_port_5299 }}:5299
    restart: unless-stopped

  audiobookshelf:
    <<: *watchtower
    image: {{ audiobookshelf_image }}
    container_name: audiobookshelf
    network_mode: bridge
    ports:
      - {{ audiobookshelf_port_13378 }}:80
    volumes:
      - /mnt/storage/audiobooks:/audiobooks
      - /mnt/storage/podcasts:/podcasts
      - {{ mediastack_root }}/audiobookshelf/config:/config
      - {{ mediastack_root }}/audiobookshelf/metadata:/metadata
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}

  navidrome:
    <<: *watchtower
    image: {{ navidrome_image }}
    container_name: navidrome
    network_mode: bridge
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
      - ND_LASTFM_APIKEY=450e8b940228b549b766270f90d67740
      - ND_LASTFM_SECRET=113f77e069b7e9e5d93f66d3e72aa0a2
    volumes:
      - {{ mediastack_root }}/navidrome:/data
      - /mnt/storage/music:/music:ro
    ports:
      - "{{ navidrome_port_4533 }}:4533"
    restart: unless-stopped

  jellyfin:
    <<: *watchtower
    image: {{ jellyfin_image }}
    container_name: jellyfin
    network_mode: bridge
    environment:
      - TZ={{ timezone }}
      - PUID={{ puid }}
      - PGID={{ pgid }}
    volumes:
      - {{ mediastack_root }}/jellyfin:/config
      - /mnt/storage/:/media
    ports:
      - {{ jellyfin_port_8096 }}:8096
      - {{ jellyfin_port_8920 }}:8920
    restart: unless-stopped

  pi-health-dashboard:
    <<: *watchtower
    image: {{ pi_health_dashboard_image }}
    container_name: pi-health-dashboard
    environment:
      - TZ={{ timezone }}
      - DISK_PATH=/mnt/storage
      - DISK_PATH_2=/mnt/downloads
      - DOCKER_COMPOSE_PATH=/config/docker-compose.yml
      - ENV_FILE_PATH=/config/.env
      - BACKUP_DIR=/config/backups
    ports:
      - {{ pi_health_dashboard_port_8100 }}:8080
    volumes:
      - /proc:/host_proc:ro
      - /sys:/host_sys:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ mediastack_root }}/:/config
      - /mnt/storage:/mnt/storage
      - /mnt/downloads:/mnt/downloads
    restart: unless-stopped

  watchtower:
    image: {{ watchtower_image }}
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - {{ mediastack_root }}/watchtower/watchtower.env
    restart: unless-stopped

networks:
  vpn_network:
    driver: bridge
